#fr {
    font-size: 0.8em
}

#nl {
    font-size: 0.8em
}

img {
    width: 200px;
    height: 200px;
}

.responsive {
    display: none;
}

@media (max-width: 500px) {
    .n-responsive {
        display: none;

    }
    .responsive {
        display: inline;
    }
}