{% extends 'admin/base.html.twig' %}


{% block main %}
    <div class="text-center">
            <h1>Zarzadzanie zdjeciami</h1>
            <h3>{{folderImages.0.folder.name}}</h3>
    </div>
    <div class="container">
        <div class="row">
                {% for key, value in folderImages %}
                <div class="col mb-3">
                    <div class="card" style="width:300px">
                        <img src="{{value.url}}" class="rounded mb-3" alt="{{value.id}}">
                        <div class="card-body">
                            <div style="float:right">
                            <i class="fas fa-trash-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}